@tailwind base;
@tailwind components;
@tailwind utilities;



 span.active + i {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  mix-blend-mode: hue;
}


.img-area:hover .img-text{
  height: 40%;
  opacity: 0.9;
}




[id='toggle-heart']:checked + label,
[id='toggle-heart2']:checked + label,
[id='toggle-heart3']:checked + label,
[id='toggle-heart4']:checked + label,
[id='toggle-heart5']:checked + label,
[id='toggle-heart6']:checked + label,
[id='toggle-heart-other-1']:checked + label,
[id='toggle-heart-other-2']:checked + label,
[id='toggle-heart-other-3']:checked + label

{
  color: #e2264d;
}

/****/




.bg,
.bgone,
.bgthree{
	
	mix-blend-mode: hue;
}


/****/
.content-wrapper{
  height: auto;
  min-height: 100%;
  margin: 0 auto;
  max-width: 1580px;
}

.slide-container{
  width:100%; 
  position: relative; 
  
}
.slider_multislide{
  width:100%;
  height:auto;
  overflow-x: scroll;
  overflow-y: hidden;
  position: relative;
}
.slide .pro-container{
  /* position: absolute;
  left:0; */
  display: flex;
  height: 100%;
  gap: 50px;
}

.ctrl-btn{
  padding: 30px 30px;
  background-color: #fff !important;
  color:#000;
  position: absolute;
  top:25%;

}
.ctrl-btn.next-btn{
  right: 0;
}
.ctrl-btn.prev-btn{
  left: 0;
}
.slider::-webkit-scrollbar{
  display: none;
}
